/* GENERAL */

  /* Supprimer les bordures des items */
ion-item::part(native){
    --border-style:var(--border-style);
}

ion-radio::part(container){
    min-height: 45px;
}

ion-content{
    --padding-top : 10px;
    --padding-start: 10px;
    --padding-end: 10px;
}

ion-input{
    border-bottom: 1px solid var(--ion-color-primary);
    background: #F5F5F5;
    display: flex;
    margin-top: 7px;
    margin-bottom: 5px;
    --placeholder-opacity: 0.25 !important;
  }

ion-col{
    text-align: center;
    padding: 0px;
    align-items: center;
}

ion-row {
    padding: 10px 0px;
    align-items: center;
}

ion-grid {
    padding: 0px;
}

ion-icon{
    font-size: 45px;
    color: #838181;
    padding-top: 5px;
}

ion-footer{
    position: fixed;
    bottom: 0;
}

ion-toolbar{
    --background : #e6e6e6
}

::placeholder{
    padding-left: 10px;
}


* {
    font-family: var(--font-sans),ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

/* PAGE D'ACCUEIL*/

.logo-accueil {
    border-radius: 50%;
    border: 1px solid #838181;
    justify-content: center;
    display: block;
    height: 155px;
    width: 155px;
    margin: auto;
  }

.ion-radiogroup{
    border: 1px solid var(--ion-color-primary);
    margin-right: 20px;
    border-radius: 7%;
    color: var(--ion-color-primary);

}

#custom-radio{
    font-size: 10px;
}


.header-footer{
    color: #838181;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    padding-bottom: 10px;
}

#title{
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#instructions{
    font-size: 14px;
    padding-bottom: 10px;
}

/* Dashboard */

#labelCol{
    color: var(--ion-color-primary);
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logo-dash-eval{
    height: 40px;
    width: auto;
    vertical-align: baseline;
    display:flex
}

#orga-header{
    display: flex;
    padding-bottom: 20px;
}


.orange-label{
    color: var(--ion-color-primary);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.black-label{
    color: black;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#one-line{
    display:flex;
}

.note-total{
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: start;
}

.note-label{
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: start;
    word-wrap: break-word;
}

#top{
    display:flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 5px;
    align-items: center;
}

#bottom{
    display:flex;
    justify-content: space-around;
    padding: 10px;
}

.txtButton{
    padding: 5px 5px;
}


.backgroundColor{
    --background : none;
    background-position: left;
    background-repeat: no-repeat;
    /* A MODIFIER */
    background-image: url('../public/21ans.jpg')
}