
ion-thumbnail {
    --size: 140px;
    --border-radius: 100px;
    --border-color: grey;
}

ion-item{
    --border-color:grey;
    /* A changer en fonction de la couleur à mettre en fond de chaque partie du formulaire */
    /* --background:grey */
}
