#tableau{
    color: orange;
    padding-left: 50px;
    margin-bottom: 10px;
    margin-top: 20px;
}

#total{
    border-color: orange;
}


hr {
    border: none;
    color: orange; /* background color */
    background-color: orange; /* same as border color */
  }
  