.body{
    text-align: center;
}

ion-col {
    background-color: white;
    border: solid 1px grey;
    color: black;
    text-align: center;
    height:70px;
}

.p{
    margin-top: auto;
    margin-bottom: auto;
}

img{
    height: 10em;
    width: 10em;
    border-radius: 50%;
}

ion-card-content{
    color: orange;
}