.body{
    text-align: center;
}

ion-col {
    background-color: white;
    border: solid 1px grey;
    color: black;
    text-align: center;
    /* height:50px; */
}

.logo{
    height: 10em;
    width: 10em;
    border-radius: 100px;
    display: flex;
   margin-left: auto;
   margin-right: auto;
   overflow: hidden;
}

ion-card-content{
    color: orange;
}

/* ion-button{
    --background: orange;
    color : black;
} */