
ion-input{
    --highlight-color-focused:orange;
}

ion-item{
    --border-color:grey;
    /* A changer en fonction de la couleur à mettre en fond de chaque partie du formulaire */
    /* --background:grey */
}

#label{
    font-size: 17px;
    margin-top: 10px;
}

